.app-heading {
  width: 100%;
  text-align: center;
  font-family: 'Filson-Bold';
  font-size: 35px;
}

.awb-list {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins-Regular';
  margin-top: 50px;
  width: 75%;
}

thead {
  font-family: 'Poppins-Bold';
}

span {
  color: #6c757d;
}
