@font-face {
  font-family: 'Filson-Bold';
  src: url('../src/fonts/Filson-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../src/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../src/fonts/Poppins-Regular.ttf') format('truetype');
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}